body 			{ color: #000000; font-family: sans-serif; padding: 10px 20px 10px 20px; }

@font-face 		{ font-family: 'league_gothicregular';
    			src: url('type/leaguegothic-regular-webfont.eot');
    			src: url('type/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         		url('type/leaguegothic-regular-webfont.woff') format('woff'),
         		url('type/leaguegothic-regular-webfont.ttf') format('truetype'),
         		url('type/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg'); }

h1 				{ font-family: 'league_gothicregular'; font-size: 80px; letter-spacing: 2px; font-weight: normal; margin: 0px; }

a				{ color: black; text-decoration: none; }

h2 				{ font-family: 'league_gothicregular';font-size: 32px; font-weight: lighter; text-transform: uppercase; 
				  margin: 1px;}

h4				{ font-size: 12px; margin: 1px; }


#header			{ position: relative; border-bottom: 2px solid black;}

#top-menu		{ position: absolute; right:50px; bottom:0px; }

#sidebar		{width: 200px; float: left; }

#content		{margin-left: 250px; margin-top: 30px; }

#menu li 		{ display: inline; list-style-type: none; padding: 12px; }

#sidebar ul 	{ margin: 25px 0px; padding: 0px; }

#sidebar li 	{ font-size: 14px; font-weight: 600; list-style-type: none; padding: 5px 0px; }



footer			{ font-size: 12px; border-top: 2px solid black; }

